<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For Cyrbilla</title>
</head>
<body>

    <div>
    <h1><center><a href="#">URL GENERATOR</a></center></h1>
    </div>   
    <form action="/" method ="POST">

    <center><label for="url">Enter an https:// URL:</label>
    <input type="url" name="url" id="url"
       placeholder="https://example.com"
       pattern="https://.*" size="100"
       required></center>
       <br>
       <center><input type = "submit" value= "SUBMIT" class = "button"></input></center>
</form>   

</body>
</html>